[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
sentence-transformers = "*"
numpy = "*"
openpyxl = "*"

[dev-packages]
streamlit = "*"
python-Levenshtein = "*"
scipy = "*"
tabulate = "*"
pytest = "*"

[requires]
python_version = "3.13"
python_full_version = "3.13.2"
