[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
numpy = "*"
openpyxl = "*"
fastapi = "*"
uvicorn = "*"
python-multipart = "*"
torch = "*"
tqdm = "*"
instructorembedding = "==1.0.1"
sentence-transformers = "==2.2.2"
huggingface_hub = "<0.14"
flet = "*"

[dev-packages]
streamlit = "*"
python-Levenshtein = "*"
scipy = "*"
tabulate = "*"
pytest = "*"
httpx = "*"
pytest-cov = "*"
icecream = "*"

[requires]
python_version = "3.11"
